.App {
  text-align: center;
}

h1{
  font-size: 2rem;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #eee;

}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

a{
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 2px;
}

a.active{
  background-color: rgb(72, 72, 185);
  color: #fff;
 
}